@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  color: #fff;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.filtergang {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-tooltip {
  max-width: 300px !important;
  background-color: #fff !important;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
  padding: 1rem !important;
  color: #e2e2e2 !important;
  text-align: center !important;
  line-height: 1.5 !important;
  opacity: 1 !important;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem !important;
    max-width: 500px !important;
    line-height: 2 !important;
  }
}

@layer utilities {
  /* background radial gradient */
  .gradient-bg {
    --foreground: rgb(84, 87, 91) 0%;
    --background: rgb(0, 0, 0) 25%;

    background: -moz-radial-gradient(
      circle at 3% 25%,
      var(--foreground),
      var(--background)
    );

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(
      circle at 3% 25%,
      var(--foreground),
      var(--background)
    );

    /* opera 11.10+ */
    background: -o-radial-gradient(
      circle at 3% 25%,
      var(--foreground),
      var(--background)
    );

    /* ie 10+ */
    background: -ms-radial-gradient(
      circle at 3% 25%,
      var(--foreground),
      var(--background)
    );

    /* global 92%+ browsers support */
    background: radial-gradient(
      circle at 3% 25%,
      var(--foreground),
      var(--background)
    );
  }

  .projects {
    perspective: 200px;
  }

  .square {
    font-size: 9vw;
    font-weight: bold;
    line-height: 12vw;
    text-align: left;
    transform-origin: left;
    transform: rotateY(-35deg);
    transition-duration: 0.4s;
    transform: skewY(-2deg);
  }

  .square:hover {
    color: transparent;
    cursor: pointer;
    transform: rotateY(-25deg) translateZ(0) scale(1.2);
    transition-duration: 0.4s;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
  }
}
